 {% extends "base.html.twig" %}
        {% block body %}
        
        <div>      
        <h1>
        Bonjour  {{user.email}}

        </h1><a href="#"> veuillez cliquer sur ce lien</a>
    
        </div>

        {% endblock %}
        
  